* {
  margin: 0;
}

body {
    margin: 0;
    background-image: url("/https://github.com/jay-ksolves/Javascript-Training/blob/main/assests/images/32822.jpg?raw=true");
    background-position: cover;
    background-size: 100%;
    background-repeat: none;
    
  }
